.105_135 { 
	overflow:hidden;
}
.e105_135 { 
	background-color:rgba(71.83911234140396, 27.404585480690002, 6.575897689908743, 1);
	width:1512px;
	height:823px;
	position:absolute;
}
.e105_136 { 
	width:583px;
	height:299px;
	position:absolute;
	left:129px;
	top:262px;
	background-image:url(cats__not_capitalism_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e105_138 { 
	color:rgba(251.00000023841858, 247.00000047683716, 175.00000476837158, 1);
	width:750px;
	height:269px;
	position:absolute;
	left:621px;
	top:582px;
	font-family:Baskervville;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
